.header {
    font-size: 46px;
    padding: 20px 0;
    margin-bottom: 50px;
    font-weight: 400;
    background-color: #2f4f4f;
    width: 100%;
    font-family: fantasy;
    color: #fff;
    font-weight: 900;
}